* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(148, 48, 48, 0.2),
        rgba(167, 67, 67, 0.4)
      ),
      url(./images/1.webp) center no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #F8F8FF;
    font-weight: 100;
}

.object2 {
    width: 400px;
    left: 50%;
    bottom: 100px;
    transform: translateX(485%);
    /* position: absolute; */
    padding-top: 100px;
    z-index: 2;
}
.object2 img {
    width: 20%;
    animation: object2 1s linear infinite;
}
@keyframes object2 {
    100% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
    0% {
        transform: translateY(-2px);
    }
}

.gameBox {
    position: relative;
    max-width: 600px;
    height: auto;
    border: 2px solid #F8F8FF;
    margin: 100px auto;
    padding: 30px;
    box-sizing: border-box;
    border-image: url(./images/bgunder.png) 25 / 10px 10px 10px 10px stretch;
}

/* .gameBox::after {
    position: absolute;
    width: 50px;
    height: 50px;
    border-top: 0px solid #F8F8FF;
    border-left: 0px solid #F8F8FF;
    border-bottom: 2px solid #F8F8FF;
    border-right: 2px solid #F8F8FF;
    top: 100%;
    left: 50%;
    margin-left: -25px;
    content: '';
    transform: rotate(45deg);
    margin-top: -25px;
} */
