<section class="section">
    <div class="container">
        <div class="column is-centered">
            <div class="column is-half">
                <h1> Characters! </h1>
                <ul>
                    {{#each this.chars}}
                    <div><button class="button is-medium is-full-length is-hovered is-rounded"><a href="/encounters/{{this.currentEncounter}}">{{this.name}}</a></button></div>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</section>