{{> navbar}}

<div class="field">
  <h2>Name</h2>
  <div class="control">
    <input id="charName" class="input" type="text" placeholder="Character Name">
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <a href="/encounters"><button id="createChar" class="button is-link">Start Game!</button></a>
  </div>
  <div class="control">
    <a href="/"><button class="button is-link is-light">Back</button></a>
  </div>
</div>
    <script src="/assets/js/characters.js"></script>