<section class="section">
    <div class="container">
        <div class="column is-centered">
            <div id="renderedChars" class="column is-half">
                <h1 class="encounterText"> Characters! </h1>
                <ul>
                    {{#each this.chars}}
                    <div id="{{this.id}}" class="charSelect" value="{{this.currentEncounter}}"><button class="button is-medium is-full-length is-hovered is-rounded" >{{this.name}}</button></div>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</section>

<script type="module" src="/assets/js/charSelect.js"></script>

<script type="module" src="/assets/js/charImages.js"></script>