<link rel="stylesheet" href="/assets/css/charactersStyle.css">

<container id="characterSelectContainer" class="pt-6">
        <div class="columns">
            <div class="column is-four-fifths charSelect"><h1 class="encounterText"> Select your Character! </h1></div>
        </div>

        {{#each this.chars}}
            <div class="columns">
                <div id="{{this.id}}" class="column is-four-fifths charSelect" value="{{this.currentEncounter}}"><button class="button is-medium is-full-length is-fullwidth is-hovered is-rounded charButton" >{{this.name}}</button></div>
            </div>
        {{/each}}

</container>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    
<script src="/assets/js/charSelect.js"></script>