<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input id="charName" class="input" type="text" placeholder="Character Name">
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button id="createChar" class="button is-link"><a href="/encounter">Start Game!</a></button>
  </div>
  <div class="control">
    <button class="button is-link is-light"><a href="/">Back</a></button>
  </div>
</div>


    <script src="./assets/js/characters.js"></script>