
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/stylesCredits.css">
<div class="container">
    <div class="row">
        <div class="team-title">
            <h1>Castaway crew members!</h1>
        </div>
    </div>
    <div class="row">
        <div class="wrapper">
        <div class="box">
            <div class="img-area">
                <img src="/assets/images/credits/pf1.jpg">
            </div>
            <div class="text-box">
                <h4>Erik</h4>
                <h5>Portillo</h5>
                <p>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </p>
            </div>
        </div>
        <div class="box">
            <div class="img-area">
                <img src="/assets/images/credits/pf2.jpg">
            </div>
            <div class="text-box">
                <h4>Steve</h4>
                <h5>something</h5>
                <p>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </p>
            </div>
        </div>
        <div class="box">
            <div class="img-area">
                <img src="/assets/images/credits/pf3.png">
            </div>
            <div class="text-box">
                <h4>Shawn</h4>
                <h5>something</h5>
                <p>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </p>
            </div>
        </div>
        <div class="box">
            <div class="img-area">
                <img src="/assets/images/credits/pf4.jpg">
            </div>
            <div class="text-box">
                <h4>Charles</h4>
                <h5>something</h5>
                <p>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </p>
            </div>
        </div>
    </div>
    </div>
</div>