
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/stylesCredits.css">
    <div class="columns">
        <div class="column">
            <div class="textC">
                <h1 class="title has-text-white"> Castaway Crew</h1>
            <h2 class="subtitle has-text-white">Meet our Team</h2>
            </div>
        </div>
    </div>

<div class="columns">
  <div class="column">
    <div class="box">
            <div class="img-area">
            </div>
            <div class="text-box">
                <h4>Erik Portillo</h4>
                <p>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </p>
            </div>
        </div>
  </div>
  <div class="column">
   <div class="box">
            <div class="img-area">
            </div>
            <div class="text-box">
                <h4>Steve Hernandez</h4>
                <p>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </p>
            </div>
        </div>
  </div>
  <div class="column">
    <div class="box">
            <div class="img-area">
            </div>
            <div class="text-box">
                <h4>Shawn Flanigan</h4>
                <p>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </p>
            </div>
        </div>
  </div>
  <div class="column">
   <div class="box">
            <div class="img-area">
            </div>
            <div class="text-box">
                <h4>Charles Latrobe-Bateman</h4>
                <p>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </p>
            </div>
        </div>
  </div>
</div>

<script src="/assets/js/credits.js" type="module"></script>