
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/stylesCredits.css">
<div class="container">
    <div class="row">
        <div class="team-title">
            <h1>Castaway crew members!</h1>
        </div>
    </div>
    <div class="row">
        <div class="wrapper">
        <div class="box">
            
                <h4 class="creditName">Erik J. Portillo</h4>
            <div class="img-area">
            </div>
            <div class="text-box">
                <h4>Erik Portillo</h4>
                <p>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </p>
            </div>
        </div>
        <div class="box">
             <h4 class="creditName">Steve C. Hernandez</h4>
            <div class="img-area">
            </div>
            <div class="text-box">
                <h4>Steve Hernandez</h4>
                <p>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </p>
            </div>
        </div>
        <div class="box">
            <h4 class="creditName">Shawn Flanigan</h4>
            <div class="img-area">
            </div>
            <div class="text-box">
                <h4>Shawn Flanigan</h4>
                <p>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </p>
            </div>
        </div>
        <div class="box">
            <h4 class="creditName">Charles Latrobe-Bateman</h4>
            <div class="img-area">
            </div>
            <div class="text-box">
                <h4>Charles Latrobe-Bateman</h4>
                <p>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </p>
            </div>
        </div>
    </div>
    </div>
</div>



<script src="/assets/js/credits.js" type="module"></script>