
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/stylesCredits.css">

<container>
    <div class="columns">
        <div class="column textC">
            <h1 class="title has-text-white"> Castaway Crew</h1>
            <h2 class="subtitle has-text-white">Meet our Team</h2>
        </div>
    </div>

    <div class="columns">

        <div class="column is-one-fourth box">
            <h4 class="creditName">Charles<br>Latrobe-Bateman</h4>
                <a href="https://github.com/Clatrobe00">
                    <div class="text-box">
                        
                            <p>
                                <i class="fa fa-github"></i>
                            </p>
                    </div>
                </a>
        </div>
        <div class="column is-one-fourth box">
            <h4 class="creditName">Shawn<br>Flanigan</h4>
                <a href="https://github.com/Shawnmflanigan">
                    <div class="text-box">
                        
                            <p>
                                <i class="fa fa-github"></i>
                            </p>
                    </div>
                </a>
        </div>
        <div class="column is-one-fourth box">
            <h4 class="creditName">Erik<br>Portillo</h4>
                <a href="https://github.com/rasputinforever">
                    <div class="text-box">
                        
                            <p>
                                <i class="fa fa-github"></i>
                            </p>
                    </div>
                </a>
        </div>
        <div class="column is-one-fourth box">
            <h4 class="creditName">Steve<br>Eliuth</h4>
                <a href="https://github.com/Eliuth4k9">
                    <div class="text-box">
                        
                            <p>
                                <i class="fa fa-github"></i>
                            </p>
                    </div>
                </a>
        </div>
            
        
    </div>

</container>

<script src="/assets/js/credits.js" type="module"></script>