
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/stylesCredits.css">

<container>
    <div class="columns">
        <div class="column textC">
            <h1 class="title has-text-white"> Castaway Crew</h1>
            <h2 class="subtitle has-text-white">Meet our Team</h2>
        </div>
    </div>

    <div class="columns">
        <div class="column is-one-fourth box">
            <h4 class="creditName">Erik Portillo</h4>
            <div class="text-box">
                
                    <p>
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-instagram"></i>
                    </p>
            </div>
        </div>
        <div class="column is-one-fourth box">
            <h4 class="creditName">Charles Latrobe-Bateman</h4>
            <div class="text-box">
                
                    <p>
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-instagram"></i>
                    </p>
            </div>
        </div>
        <div class="column is-one-fourth box">
            <h4 class="creditName">Shawn Flanigan</h4>
            <div class="text-box">
                
                    <p>
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-instagram"></i>
                    </p>
            </div>
        </div>
        <div class="column is-one-fourth box">
            <h4 class="creditName">Steve Eliuth</h4>
            <div class="text-box">
                
                    <p>
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-instagram"></i>
                    </p>
            </div>
        </div>
            
        
    </div>

</container>

<script src="/assets/js/credits.js" type="module"></script>