<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body>
    <section>
        <div class="container">
            <div class="box">
                <div class="content">
                    <div class="imgBox"><img src="./image/pf1.jpg"></div>
                    <div class="contentBox">
                        <h3>Person 1<br> <span>Small text</span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li style="--i:1">
                        <a href="#"> <i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <ul class="sci">
                    <li style="--i:2">
                        <a href="#"> <i class="fab fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <ul class="sci">
                    <li style="--i:3">
                        <a href="#"> <i class="fab fa-twitter" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>

            <div class="box">
                <div class="content">
                    <div class="imgBox"><img src="./image/pf2.jpg"></div>
                    <div class="contentBox">
                        <h3 class="encounterText">Person 1<br> <span class="encounterText">Small text</span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li style="--i:1">
                        <a href="#"> <i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <ul class="sci">
                    <li style="--i:2">
                        <a href="#"> <i class="fab fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <ul class="sci">
                    <li style="--i:3">
                        <a href="#"> <i class="fab fa-twitter" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>

            <div class="box">
                <div class="content">
                    <div class="imgBox"><img src="./image/pf3.png"></div>
                    <div class="contentBox">
                        <h3>Person 1<br> <span>Small text</span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li style="--i:1">
                        <a href="#"> <i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <ul class="sci">
                    <li style="--i:2">
                        <a href="#"> <i class="fab fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <ul class="sci">
                    <li style="--i:3">
                        <a href="#"> <i class="fab fa-twitter" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>

            <div class="box">
                <div class="content">
                    <div class="imgBox"><img src="./image/pf4.jpg"></div>
                    <div class="contentBox">
                        <h3>Person 1<br> <span>Small text</span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li style="--i:1">
                        <a href="#"> <i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <ul class="sci">
                    <li style="--i:2">
                        <a href="#"> <i class="fab fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <ul class="sci">
                    <li style="--i:3">
                        <a href="#"> <i class="fab fa-twitter" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </section>
    
</body>
</html>