<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">



<section class="section">
    <div class="container">
        <div class="column is-centered">
            <div class="column is-half">
                <h1> Encounter!</h1>
                <p id="demo">{{ this.encounterText }}</p>
                <p id="consequence"></p>
                <ul id='btnContainer' class="hideButton">
                    {{#each this.options }}
                    <button class="button is-medium is-full-length is-hovered is-rounded options optionBtn" id="{{this.id}}">{{this.optionText}}</button>
                    {{/each}}
                </ul>
                <div id ='nextButton' class='hideButton'>
                <button class="button is-medium is-full-length is-hovered is-rounded options nextBtn" id = 'nextEnc'>Next Encounter</button>
                </div>
            </div>
        </div>
    </div>
    <!-- this is the character ID -->
    <div id="{{this.charId}}" class="charId"></div>
</section>
<script src="/assets/js/encounterAnimation.js"></script>
<script src="/assets/js/buttons.js"></script>
{{!-- DELETE THIS AT WILL --}}