    <h1> Encounter </h1>
    <p>{{ this.encounterText }}</p>
    <ul>
        {{#each this.choices }}
            <button>{{this}}</button>
        {{/each}}
    </ul>
    
{{!-- DELETE THIS AT WILL --}}