<iframe src="silence.mp3" allow="autoplay" hidden="true" id="audio"></iframe>
    <audio id="player" autoplay controls>
        <source src="./assets/sounds/launchPage.mp3" type="audio/mp3"></audio>


    <h1 class="titleSc">Castaway: Flight of the Pheonix</h1>

