<iframe src="silence.mp3" allow="autoplay" hidden="true" id="audio"></iframe>
    <audio id="player" autoplay controls>
        <source src="./assets/sounds/launchPage.mp3" type="audio/mp3"></audio>

    <h1>Castaway: Flight of the Pheonix</h1>
    
    <!-- navBarMenu -->
     <div class=" container">
        <nav class="navbar">
            <div class="main-menu">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="./encounters" class="nav-link"> Start Game</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"> Load Game</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"> Credits</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Exit to desktop</a>
                </li>
            </ul>
        </nav>
    </div>