#characterSelectContainer {
    text-align: center;
}

.charSelect {
    width: 100%;
}

.charButton {
    font-family: 'Press Start 2P', cursive;

}

.encounterText {
    text-align: center;
}

.inputCharBox {
    text-align: center;
    font-size: 24px;
}

.charCreateButton {
    width: 100%;
}

.charImgWrapper {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

#charNameLocation {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    color: #FFF5EE;
    text-shadow: 1px 1px 1px #070707,
    1px 2px 1px #070707,
    1px 3px 1px #070707,
    1px 4px 1px #070707,
    1px 5px 1px #070707,
    1px 6px 1px #070707,
    1px 7px 1px #070707,
    1px 8px 1px #070707,
    1px 9px 1px #070707,
    1px 10px 1px #070707,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
    padding: 3px 0;
}