* {
    margin: 0;
    padding: 0;
  }

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(148, 48, 48, 0.2),
        rgba(167, 67, 67, 0.4)
      ),
      url(../images/launchPage.jpg) center no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
       }
    
    /* h1 {
        font-family: 'Press Start 2P', cursive;
        color: white;
        text-align: center;
    } */

    .navbar {
        width: 300px;
        height: 100%;
        background-color: transparent;
        position: fixed;
        top: 0;
        right: -300px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 35% 0 0 40%;
        transition: right 0.8s cubic-bezier(1, 0, 0, 1);
      }
      
      .change {
        right: 0;
      }
      
      .main-menu {
        width: 35px;
        height: 30px;
        position: fixed;
        top: 10px;
        right: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      
      .line {
        width: 100%;
        height: 3px;
        background-color: #DB7093;
        transition: all 0.8s;
      }
      
      .change .line-1 {
        transform: rotateZ(-405deg) translate(-8px, 6px);
      }
      
      .change .line-2 {
        opacity: 0;
      }
      
      .change .line-3 {
        transform: rotateZ(405deg) translate(-8px, -6px);
      }
      
      .nav-list {
        text-align: right;
      }
      
      .nav-item {
        list-style: none;
        margin: 25px;
      }
      
      .nav-link {
        text-decoration: none;
        font-size: 22px;
        font-family: 'Press Start 2P', cursive;
        color: white;
        color: #FFF5EE;
        text-shadow: 1px 1px 1px #070707,
        1px 2px 1px #070707,
        1px 3px 1px #070707,
        1px 4px 1px #070707,
        1px 5px 1px #070707,
        1px 6px 1px #070707,
        1px 7px 1px #070707,
        1px 8px 1px #070707,
        1px 9px 1px #070707,
        1px 10px 1px #070707,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
        position: relative;
        padding: 3px 0;
      }
      
      .nav-link::before,
      .nav-link::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #DB7093;
        position: absolute;
        left: 0;
        transform: scaleX(0);
        transition: transform 0.5s;
      }
      
      .nav-link::after {
        bottom: 0;
        transform-origin: right;
      }
      
      .nav-link::before {
        top: 0;
        transform-origin: left;
      }
      
      .nav-link:hover::before,
      .nav-link:hover::after {
        transform: scaleX(1);
      }

      li {
        font-family: 'Press Start 2P', cursive;
        color: white;
      }

      p {
        font-family: 'Press Start 2P', cursive;
        color: white;
      }
 
      /* button {
        font-family: 'Press Start 2P', cursive;
      } */
    .titleSc {
        font-family: 'Press Start 2P', cursive;
        color: white;
        font-size: xx-large;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #070707,
        1px 2px 1px #070707,
        1px 3px 1px #070707,
        1px 4px 1px #070707,
        1px 5px 1px #070707,
        1px 6px 1px #070707,
        1px 7px 1px #070707,
        1px 8px 1px #070707,
        1px 9px 1px #070707,
        1px 10px 1px #070707,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
    line-height: 1.0;
  letter-spacing: -0.03em;
      }

    .hideButton {
        display: none;
}

.encounterText {
  text-decoration: none;
  font-size: 22px;
  font-family: 'Press Start 2P', cursive;
  color: white;
  color: #FFF5EE;
  text-shadow: 1px 1px 1px #070707,
  1px 2px 1px #070707,
  1px 3px 1px #070707,
  1px 4px 1px #070707,
  1px 5px 1px #070707,
  1px 6px 1px #070707,
  1px 7px 1px #070707,
  1px 8px 1px #070707,
  1px 9px 1px #070707,
  1px 10px 1px #070707,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
}
